In [ ]:
!pip install scikit-fuzzy
import skfuzzy as fuzz
from skfuzzy import control as ctrl

Requirement already satisfied: scikit-fuzzy in /usr/local/lib/python3.10/dist-packages (0.4.2)
Requirement already satisfied: numpy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (1.25.2)
Requirement already satisfied: scipy>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (1.11.4)
Requirement already satisfied: networkx>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (3.3)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

# Path ke file CSV Anda
file_path = '/content/dataKP.csv'

# Mengimpor data ke DataFrame
data = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
print(data.head())

                   Nama Pegawai  kedisiplinan  kinerja  rata-rata kinerja
0                  Akhmad Riadi            77   274.97          91.656667
1     Andika Nur Budiharso S.E.           100   276.68          92.226667
2    Anggi Budi Pratiwi S.Stat.           100   276.97          92.323333
3           Anita Desmarini SST           100   276.10          92.033333
4  Anne Oktavia Andriyani A.Md.           100   276.29          92.096667

In [ ]:
# Membuat DataFrame dari data pegawai
df = pd.DataFrame(data)

In [ ]:
# Definisikan variabel fuzzy untuk kedisiplinan dan kinerja
kedisiplinan = ctrl.Antecedent(np.arange(0, 101, 1), 'kedisiplinan')
kinerja = ctrl.Antecedent(np.arange(0, 101, 1), 'kinerja')
pegawai_terbaik = ctrl.Consequent(np.arange(0, 101, 1), 'pegawai_terbaik')

In [ ]:
# Membership functions untuk kedisiplinan
kedisiplinan['cukup'] = fuzz.trapmf(kedisiplinan.universe, [0, 0, 50, 75])
kedisiplinan['sangat baik'] = fuzz.trapmf(kedisiplinan.universe, [75, 100, 100, 100])

In [ ]:
# Membership functions untuk kinerja
kinerja['rendah'] = fuzz.trapmf(kinerja.universe, [0, 0, 30, 50])
kinerja['sedang'] = fuzz.trapmf(kinerja.universe, [50, 60, 70, 80])
kinerja['tinggi'] = fuzz.trapmf(kinerja.universe, [80, 100, 100, 100])

In [ ]:
# Membership functions untuk pegawai terbaik
pegawai_terbaik['bukan terbaik'] = fuzz.trapmf(pegawai_terbaik.universe, [0, 0, 30, 70])
pegawai_terbaik['terbaik'] = fuzz.trapmf(pegawai_terbaik.universe, [70, 100, 100, 100])

In [ ]:
# Aturan-aturan fuzzy
rule1 = ctrl.Rule(kedisiplinan['cukup'] & kinerja['rendah'], pegawai_terbaik['bukan terbaik'])
rule2 = ctrl.Rule(kedisiplinan['cukup'] & kinerja['sedang'], pegawai_terbaik['bukan terbaik'])
rule3 = ctrl.Rule(kedisiplinan['cukup'] & kinerja['tinggi'], pegawai_terbaik['bukan terbaik'])
rule4 = ctrl.Rule(kedisiplinan['sangat baik'] & kinerja['rendah'], pegawai_terbaik['bukan terbaik'])
rule5 = ctrl.Rule(kedisiplinan['sangat baik'] & kinerja['sedang'], pegawai_terbaik['terbaik'])
rule6 = ctrl.Rule(kedisiplinan['sangat baik'] & kinerja['tinggi'], pegawai_terbaik['terbaik'])

In [ ]:
# Sistem kontrol fuzzy
pegawai_ctrl = ctrl.ControlSystem([rule1, rule2, rule3, rule4, rule5, rule6])
pegawai_evaluation = ctrl.ControlSystemSimulation(pegawai_ctrl)

In [ ]:
# Menambahkan kolom hasil fuzzy
df['Skor Pegawai Terbaik'] = 0

In [ ]:
# Evaluasi setiap pegawai
for index, row in df.iterrows():
    pegawai_evaluation.input['kedisiplinan'] = row['kedisiplinan']
    pegawai_evaluation.input['kinerja'] = row['rata-rata kinerja']
    pegawai_evaluation.compute()
    df.at[index, 'Skor Pegawai Terbaik'] = pegawai_evaluation.output['pegawai_terbaik']

In [ ]:
# Menampilkan DataFrame dengan hasil evaluasi fuzzy
print(df)

                           Nama Pegawai  kedisiplinan  kinerja  \
0                          Akhmad Riadi            77   274.97
1             Andika Nur Budiharso S.E.           100   276.68
2            Anggi Budi Pratiwi S.Stat.           100   276.97
3                   Anita Desmarini SST           100   276.10
4          Anne Oktavia Andriyani A.Md.           100   276.29
5              Aprilia Puspita Sari SST            95   276.91
6              Ari Rusmasari SST, M.Si.           100   278.23
7                 Bagus Prio Sambodo SE            79   276.09
8           Belinda Yena Putri A.Md.Kom           100   276.72
9     Cita Puspita Sari SST., M.Ec.Dev.           100   276.88
10                     Darul Ambardi SE           100   276.17
11                    Drs. Agus Sarjono            94   274.67
12                        Edy Kurniawan           100   274.67
13      Erika Haryulistiani Saksono SE.           100   277.39
14                 Erika Santi ST, M.Si           100   276.22
15                 Erwan Jafrilda S.Sos            99   274.50
16                Fahroni Agustarita SE           100   273.11
17          Faza Nur Fuadina S.Tr.Stat.           100   277.18
18      Habni Hamara Azmatiy S.Tr.Stat.           100   276.49
19     Henny Surya Indraswari SST.,M.Si            96   276.97
20                            Ikhsan SE           100   275.26
21               Indra Kurniawan S.Sos.           100   275.50
22                       Kaisar Samudra            92   276.04
23              Mertha Pessela SP, M.M.           100   276.65
24            Mohammad Vicky Lukito SST            98   275.44
25             Muhammad Rafiqo Ardi SST           100   276.35
26                         Nanang Qosim            98   265.00
27                Niken Hariyanti S.Si.           100   277.75
28                    Risdiyanto S.Psi.           100   275.42
29                Rizki Abdi Utama A.Md            98   276.58
30      Santi Yuli Elida Aritonang A.Md            99   276.51
31               Sari Citra Pratiwi SST           100   276.24
32  Sasma Senimawati Manik S.Si., M.Kom            97   276.55
33        Shista Virgo Winatha SE., ME.            99   277.11
34       Viona Rahma Agustin S.Tr.Stat.           100   276.38
35                        Wasilawati SE           100   277.00

    rata-rata kinerja  Skor Pegawai Terbaik
0           91.656667             85.591667
1           92.226667             88.912181
2           92.323333             88.935363
3           92.033333             88.865296
4           92.096667             88.880731
5           92.303333             88.930581
6           92.743333             89.034012
7           92.030000             86.165217
8           92.240000             88.915389
9           92.293333             88.928187
10          92.056667             88.870991
11          91.556667             88.746809
12          91.556667             88.746809
13          92.463333             88.968623
14          92.073333             88.875053
15          91.500000             88.732456
16          91.036667             88.613051
17          92.393333             88.952040
18          92.163333             88.896898
19          92.323333             88.935363
20          91.753333             88.796185
21          91.833333             88.816075
22          92.013333             88.860407
23          92.216667             88.909773
24          91.813333             88.811113
25          92.116667             88.885590
26          88.333333             87.850877
27          92.583333             88.996834
28          91.806667             88.809458
29          92.193333             88.904147
30          92.170000             88.898511
31          92.080000             88.876676
32          92.183333             88.901733
33          92.370000             88.946491
34          92.126667             88.888016
35          92.333333             88.937751

In [ ]:
# Mengurutkan DataFrame berdasarkan kolom 'Best Employee Score' dari yang tertinggi
df_sorted = df.sort_values(by='Skor Pegawai Terbaik', ascending=False)

# Menampilkan DataFrame yang sudah diurutkan
print(df_sorted)

                           Nama Pegawai  kedisiplinan  kinerja  \
6              Ari Rusmasari SST, M.Si.           100   278.23
27                Niken Hariyanti S.Si.           100   277.75
13      Erika Haryulistiani Saksono SE.           100   277.39
17          Faza Nur Fuadina S.Tr.Stat.           100   277.18
33        Shista Virgo Winatha SE., ME.            99   277.11
35                        Wasilawati SE           100   277.00
2            Anggi Budi Pratiwi S.Stat.           100   276.97
19     Henny Surya Indraswari SST.,M.Si            96   276.97
5              Aprilia Puspita Sari SST            95   276.91
9     Cita Puspita Sari SST., M.Ec.Dev.           100   276.88
8           Belinda Yena Putri A.Md.Kom           100   276.72
1             Andika Nur Budiharso S.E.           100   276.68
23              Mertha Pessela SP, M.M.           100   276.65
29                Rizki Abdi Utama A.Md            98   276.58
32  Sasma Senimawati Manik S.Si., M.Kom            97   276.55
30      Santi Yuli Elida Aritonang A.Md            99   276.51
18      Habni Hamara Azmatiy S.Tr.Stat.           100   276.49
34       Viona Rahma Agustin S.Tr.Stat.           100   276.38
25             Muhammad Rafiqo Ardi SST           100   276.35
4          Anne Oktavia Andriyani A.Md.           100   276.29
31               Sari Citra Pratiwi SST           100   276.24
14                 Erika Santi ST, M.Si           100   276.22
10                     Darul Ambardi SE           100   276.17
3                   Anita Desmarini SST           100   276.10
22                       Kaisar Samudra            92   276.04
21               Indra Kurniawan S.Sos.           100   275.50
24            Mohammad Vicky Lukito SST            98   275.44
28                    Risdiyanto S.Psi.           100   275.42
20                            Ikhsan SE           100   275.26
12                        Edy Kurniawan           100   274.67
11                    Drs. Agus Sarjono            94   274.67
15                 Erwan Jafrilda S.Sos            99   274.50
16                Fahroni Agustarita SE           100   273.11
26                         Nanang Qosim            98   265.00
7                 Bagus Prio Sambodo SE            79   276.09
0                          Akhmad Riadi            77   274.97

    rata-rata kinerja  Skor Pegawai Terbaik
6           92.743333             89.034012
27          92.583333             88.996834
13          92.463333             88.968623
17          92.393333             88.952040
33          92.370000             88.946491
35          92.333333             88.937751
2           92.323333             88.935363
19          92.323333             88.935363
5           92.303333             88.930581
9           92.293333             88.928187
8           92.240000             88.915389
1           92.226667             88.912181
23          92.216667             88.909773
29          92.193333             88.904147
32          92.183333             88.901733
30          92.170000             88.898511
18          92.163333             88.896898
34          92.126667             88.888016
25          92.116667             88.885590
4           92.096667             88.880731
31          92.080000             88.876676
14          92.073333             88.875053
10          92.056667             88.870991
3           92.033333             88.865296
22          92.013333             88.860407
21          91.833333             88.816075
24          91.813333             88.811113
28          91.806667             88.809458
20          91.753333             88.796185
12          91.556667             88.746809
11          91.556667             88.746809
15          91.500000             88.732456
16          91.036667             88.613051
26          88.333333             87.850877
7           92.030000             86.165217
0           91.656667             85.591667

In [ ]:
# Menampilkan 3 pegawai dengan nilai komposit tertinggi
top_3_pegawai = df_sorted.head(3)

# Menambahkan kolom 'Pegawai Terbaik' dengan nilai 'Ya' untuk 3 pegawai teratas
top_3_pegawai['Pegawai Terbaik'] = 'Ya'

# Menampilkan kolom yang diperlukan saja
result = top_3_pegawai[['Nama Pegawai', 'kedisiplinan', 'rata-rata kinerja', 'Skor Pegawai Terbaik', 'Pegawai Terbaik']]

# Menampilkan hasil
print(result)

                       Nama Pegawai  kedisiplinan  rata-rata kinerja  \
6          Ari Rusmasari SST, M.Si.           100          92.743333
27            Niken Hariyanti S.Si.           100          92.583333
13  Erika Haryulistiani Saksono SE.           100          92.463333

    Skor Pegawai Terbaik Pegawai Terbaik
6              89.034012              Ya
27             88.996834              Ya
13             88.968623              Ya

<ipython-input-16-2129db16e323>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_3_pegawai['Pegawai Terbaik'] = 'Ya'