In [1]:
!pip install mysql-connector-python

import mysql.connector
import os

# Koneksi ke database
db = mysql.connector.connect(
    host="localhost",          # Ganti jika pakai remote DB
    user="root",               # Ganti sesuai user MySQL kamu
    password="",    # Ganti dengan password MySQL kamu
    database="database_image"         # Ganti dengan nama database kamu
)

cursor = db.cursor()

# Buka file gambar dalam mode binary
with open('/example.jpg', 'rb') as f:
    binary_data = f.read()

# Query untuk insert data
query = "INSERT INTO image_store (image_name, image_data) VALUES (%s, %s)"
cursor.execute(query, ('example.jpg', binary_data))
db.commit()

print("Image uploaded successfully.")
# Close the connection
cursor.close()
db.close()

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 20.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)